---
- name: configure yum to use the proxy
  lineinfile:
    path: "/etc/yum.conf"
    regexp: '^proxy\s*=.*'
    line: "proxy={{proxy_proto}}://{{proxy_address}}:{{proxy_port}}"

- name: configure RHSM to use the proxy (HTTP-only)
  lineinfile:
    path: "/etc/rhsm/rhsm.conf"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - regexp: '^proxy_hostname\s*=.*'
      line: "proxy_hostname={{proxy_address}}"
    - regexp: '^proxy_port\s*=.*'
      line: "proxy_port={{proxy_port}}"
  when:
    - ansible_distribution == "RedHat"
    - proxy_proto is defined
    - proxy_proto == "http"

- block:
  - name: configure yum to use the proxy authentication
    lineinfile:
      path: "/etc/yum.conf"
      regexp: "{{ item.regexp }}"
      line: "{{ item.line }}"
    with_items:
      - regexp: '^proxy_username\s*=.*'
        line: "proxy_username={{proxy_user}}"
      - regexp: '^proxy_password\s*=.*'
        line: "proxy_password={{proxy_pass}}"

  - name: configure RHSM to use the proxy authentication (HTTP-only)
    lineinfile:
      path: "/etc/rhsm/rhsm.conf"
      regexp: "{{ item.regexp }}"
      line: "{{ item.line }}"
    with_items:
      - regexp: '^proxy_user\s*=.*'
        line: "proxy_user={{proxy_user}}"
      - regexp: '^proxy_password\s*=.*'
        line: "proxy_password={{proxy_pass}}"
    when:
      - ansible_distribution == "RedHat"
      - proxy_proto is defined
      - proxy_proto == "http"
  when:
    - proxy_auth is defined
    - proxy_auth

- name: configure the default profile to use the proxy
  template:
    src: "proxy.profile"
    dest: "/etc/profile.d/proxy.sh"
    mode: "0755"
